.products_list{
    padding-left: 1rem;
}
.plp_list{
    justify-content: flex-start;
}
.border-bg{
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}
.menu_Filter{
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    height: auto;
    list-style: none;
    padding: 23px 65px 23px 23px;
    width: auto;
    li{
        padding: 0.5rem;
    }
}

.product_card{
    width: 200px;
    .figure-caption {
        color: black;
        font-weight: bold;
        height: auto;
        min-height: 42px;
    }
    .price{
        color: #f57224;
    }
    .item-quantity{
        display: inline-block;
        vertical-align: middle;
        float: left;
        width: 83px;
        position: relative;
        .number-toggle{
            display: table;
            width: 100%;
            input{
                padding: 0 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            
        }
    }
    .cart_btn{
            background-color: #f57224;
            margin: 0;
            // display: inline-block;
            overflow: hidden;
            padding: .6rem 7px;
            font-size: 10px;
            white-space: nowrap;
            border-radius: 3rem;
            // font-size: .95rem;
            letter-spacing: -.01em;
            text-transform: uppercase;
            font-family: museo_sans,sans-serif;
            font-weight: 700;
            border: 1px solid transparent;
            line-height: 1;
            text-align: center;
            cursor: pointer;
    }
}
.category-det{
    margin-top: 2rem;
    .category-heading{
        color: black;
        font-size: 18px;
        font-weight: bold;
        margin-top: 22px;
    }
    .category-des{
        font-size: 13px;
    }
}
.plp-filters{
    padding-bottom: 15px;
    border-bottom: 1px solid #8080802e;
    @media (max-width: 768px) {
        display: inline-flex;
    }
    .sort_label{
        padding-top: 10px;
        font-size: 13px;
        font-weight: bold;  
      }
    .sort_dropdown button{
        border-radius: 3rem;
        background-color: #fff;
        border: 1px solid #212529;
        box-shadow: none;
        font-size: .9rem;
        height: auto;
        color: black;
        padding: 9px 30px;
       }
       button#dropdown-basic {
        background-color: white;
        color: black;
        border-color: black;
        box-shadow: 0 0 0 0.2rem #f8f9fa;
    }
       .sort_dropdown button:active{
        background-color: #fff;
        border-color: #212529;
       }
}
@media (max-width: 768px) { 
.side_menu{
display: none
}

}